<div class="row justify-content-center">
    <div class="card " style="width: 30rem;">
      <div class="card-body">
        <h3 class="card-title text-center">Policy Details</h3>
<div>
    <div class="container">
        <div class="container-2">
            <p>
                Vehicle Type:{{plandata.typeofvehicle}}
            </p>
            <p>
                Plan Type:{{plandata.type}}
            </p>
            <p>
                Plan Duration:{{plandata.term}}
            </p>
            <p>
                Plan Amount: {{plandata.amount  | currency:'INR' }}
            </p>
            <div class="container-2">
                <div class="makecenter">
                    <div><button class="btn btn-danger" type="submit" (click)="BuyInsurance()" >Buy Insurance</button></div>
                </div>
            </div>
            <div class="container-2">
            <div class="makecenter">
                <button type="button" class="btn btn-outline-primary" (click)="back()" >Back</button>
            </div>
            </div>
            
</div>
</div>
</div>
</div>