*.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    
}
.container .container-2{
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 5%;
    font-family:cursive;
    font-size: large;
    font-weight: bold;
    color:rgb(17, 178, 103) ;
}


