<div class="row justify-content-center">
<div class="card " style="width: 20rem;">
  <div class="card-body">
    <h3 class="card-title text-center"> Login</h3>
<form (ngSubmit)="login(mail,password)" #loginForm="ngForm">
  <div class="container">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="mail"
        #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
        placeholder="example@gmail.com"
      />
      <div *ngIf="(email.touched || loginForm.submitted) && email.errors?.['required']" style="color:rgb(17, 178, 103)">Email is Required</div>
      <div *ngIf="(email.touched || loginForm.submitted) && email.errors?.['pattern']" style="color:rgb(17, 178, 103)">Enter a valid Email</div>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="pass"
        name="pass"
        [(ngModel)]="password"
        #pass="ngModel"
        minlength="8"
        required
        placeholder="*****"
      />
      <div *ngIf="(pass.touched || loginForm.submitted) && pass.errors?.['required']" style="color:white">Password is Required</div>
      <div *ngIf="(pass.touched || loginForm.submitted) && pass.errors?.['minlength']" style="color:white">Invalid Password</div>
    </div>
    <div class="col-12" style="padding-bottom: 30px;">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">Log in</button>
      </div>
  
  <div class="footer">
    <div class="forgetp">
      <button type="submit" class="btn btn-outline-success" (click)="forgetpass()">Forget Password</button>
    </div>
    <!--<div class="forgetp">
      <button type="submit" class="btn btn-primary" (click)="resetpass()">Reset Password</button>
    </div>-->
    <div class="forgetp">
      <button type="submit" class="btn btn-outline-success " (click)="register()">Register</button>
    </div>
  </div>
  </div>
</form>
  </div>
</div>
<div>