.claim{
    background-color: whitesmoke;
    display: flex;
   flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    height: 60%;
}

header{
    background-color: #191970;
    font-weight: bold;
    height: auto;
    width: auto;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 43px;
    width: 40%;
    border:3px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-2{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

p{
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.col-sm-10{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
/*.form-check{
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    background-color: ;
    color: beige;
    height: 2rem;
    width: 15rem;
    border: 5px;
    border-radius: 10px;
}*/
.makecenter{
    display: flex;
    justify-content: center;
}