.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
}
.container-0{
    display: flex;
}
.container .container-2{
    margin-top: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color:black;
    justify-content: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.container .container-3{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.container .container-3 .next{
    padding: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
}

.card{
    margin: 3%;
}
.data{
    color:rgb(17, 178, 103);;
    font-size: large;
    font-weight: 500;
    font-family: cursive;
}
.buy{
    padding-left:58rem ;
}