<div class="container">
 <div class="row">
    <div class="container-2 container-fluid col-lg-6">
        <h1>Why Insurance</h1>
        <p>Buying insurance is important as it ensures that you are financially secure to face any type of problem in life, and this is why insurance is a very important part of financial planning. A general insurance company offers insurance policies to secure health, travel, motor vehicle, and home.</p>
        <img src="assets/img/car.png" class="img-responsive">
    </div>

    <div class="container-fluid col-lg-6">
      <div class="row">
          <div class="container col-sm-6" style="margin-right:2% ;">
            <a class="pad" routerLink="login">Buy Insurance</a>
          </div>
          <div class="container col-sm-6" style="margin-left:2% ;">
            <a class="pad" routerLink="Irenew">Renew Insurance</a>
           </div>
      </div>
      <div class="row" style="padding:10px ;">
        <div class="container col-sm-6"  style="margin-right:2% ;">
            <a  class="pad" routerLink="Iclaim">Claim Insurance</a>
        </div>
        <div class="container col-sm-6" style="margin-left:2% ;">
            <a  class="pad" routerLink="Icalc">Estimate Insurance Calculation</a>
        </div>
     </div>
      
      </div>
    
 </div>
</div>