/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}
/*.background-image{
background-image: url('./assets/img/background.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 110vh;}*/
body{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    font-family: 'Calibri';
}


.card{
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-title{
font-family:"Sofia", sans-serif;
}
.card-manual-center{
    margin-left: auto;
    margin-right: auto;
}
.makecenter{
    display: flex;
    justify-content: center;
}