

<header>
    <div class="container" style="background-color:blue;">
    <h2 style="color:whitesmoke;">Forget Password</h2>
    </div>
</header> 




<form>
    <div class="container-2" style="margin-top: 1rem; padding: 2%;">
        <div class="container-3">
            <label for="formGroupExampleInput" class="form-label captcha1">Email</label>
            <div class="mb-10" style="margin-bottom: 2%">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" [(ngModel)]="mail" #email="ngModel"  >
            </div>
            
            <label for="formGroupExampleInput" class="form-label captcha1">Captcha</label>
            <div class="captcha1" style="margin-bottom:2%">
                <h5>
                 {{randNumber}}
            </h5>
            </div>
            
            <label for="formGroupExampleInput" class="form-label captcha1">Enter Captcha</label>
            <div class="mb-10">
           
                <input type="number" class="form-control" id="captcha1" placeholder="Enter Captcha" name="captcha1" [(ngModel)]="captcha1" #captcha="ngModel">

            </div>
        
    </div>
    
    <div class="col-12" style="margin-left: 46%;">
        <button type="submit" class="btn btn-success" (click)="submit(captcha1,mail)">Submit</button>
      </div>
    </div>
</form>
